<footer class="bio">
  {% Figure {
    src: '/assets/images/avatar-small.png',
    alt: 'Picture of Cezar Augusto'
  } %}
  <h4>
    {{ site.topHeadline | markdownify_inline | safe }}
    {{ site.bottomHeadline | markdownify_inline | safe }}
    <br>
    {{ site.social | markdownify_inline | safe }}
  </h4>
</footer>
