<footer class="footer-bio">
  <img src="/assets/images/avatar-small.png" alt="Photo of Cezar Augusto">
  <h4>
    {{ site.bottomHeadline }}<br>
    {{ site.social | markdownify_inline | safe }}
  </h4>
</footer>
