<footer class="footer-bio">
  <img src="/assets/images/avatar-small.png" alt="Photo of Cezar Augusto">
  <h4>
    <span class="no-breaks">
    {{ site.topHeadline | markdownify_inline | safe }}
    {{ site.bottomHeadline | markdownify_inline | safe }}
    </span><br>
    <span class="no-breaks">{{ site.social | markdownify_inline | safe }}</span>
  </h4>
</footer>
