<article>
  <h2 class="text">
    <a href="{{ entry.url | permalink }}">{{ entry.data.title }}</a>
  </h2>
  {% if entry.data.tags %}
    {% for tag in entry.data.tags %}
      <a class="h5" href="/posts/tagged/{{ tag }}/">{{ tag }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
  {% endif %}
</article>
