<footer>
  © 2018-Present <a href="/about/">Cezar Augusto</a>.<br />
  Content in this blog is licensed under
  <a
    class="link"
    href="https://creativecommons.org/licenses/by/4.0/"
    rel="noopener noreferrer"
    target="_blank"
    >CC BY 4.0</a
  >.
</footer>
