<footer class="footer">
  <p class="footer__phrase">
    © 2018-Present <a href="">Cezar Augusto</a>.<br>
    Content in this blog is licensed under 
    <a href="https://creativecommons.org/licenses/by/4.0/" rel="noopener noreferrer" target="_blank">CC BY 4.0</a>.
  </p>
  <p class="footer__phrase">This blog has an <a href="/feed.xml">RSS</a> which is cool.</p>
</footer>
