{% block pageTop %}
<header>
  <div class="top" bis_skin_checked="1">
    <h1>@<a href="/">cezaraugusto</a></h1>

    <div class="links" bis_skin_checked="1">
      <button
        type="button"
        class="cs-btn"
        onclick="document.querySelector('.cs-dialog').showModal();"
      >
        Subscribe
      </button>
      <a
        href="https://github.com/cezaraugusto"
        target="_blank"
        class="cs-btn gh"
      ></a>
      <a href="https://x.com/cezaraugusto" target="_blank" class="cs-btn x"></a>
    </div>
  </div>
  <p>
    {{ site.intro | markdownify_inline | safe }} {{ site.social |
    markdownify_inline | safe }}
  </p>
</header>

{% endblock %}

<dialog class="cs-dialog">
  <form method="dialog">
    <div class="heading">
      <div class="wrapper">
        <div class="icon"></div>
        <p class="text">Options</p>
      </div>
      <button class="cs-btn close"></button>
    </div>
    <div class="content">
      <h3 class="font-bold text-xl">Get updates from me via email</h3>
      <iframe
        src="https://cezaraugusto.substack.com/embed"
        height="320"
        style="border-radius: 4px; width: 100%"
        frameborder="0"
        scrolling="no"
      ></iframe>
    </div>
    <menu class="footer-btns">
      <button class="cs-btn">OK</button>
    </menu>
  </form>
</dialog>
