@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes glare {
  0% {
    right: 120%;
  }

  100% {
    right: -35%;
  }
}

.elementFadeIn {
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: 0.25s;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.presentation {
	position: relative;
	overflow: hidden;
	display: block;
}

.glare {
	position: absolute;
	width: 45px;
	height: 200%;
  transform: rotate(25deg);
	background-color: rgba(255,255,255,0.3);
	top: -50%;
	right: 120%;
  animation-name: glare;
  animation-delay: 0.6s;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
