:root {
  /* fonts */
  --font-family-heading: 'Arvo', serif;
  --font-family-body: Helvetica, sans-serif;
  --font-family-code: Menlo, Monaco, "Courier New", monospace;
  --font-family-size: 18px;

  /* branding colors */
  --color-white: #ffffff;
  --color-pink: #dd45d3;
  --color-yellow: #F2B705;
  --color-orange: #fd9d52;
  --color-purple: #943cff;
  --color-black: rgba(0,0,0,0.9);
  --box-shadow-color: 0 40px 135px rgba(0,0,0,0.12), 0 15px 45px rgba(0,0,0,0.12);
  --color-gradient: linear-gradient(-270deg,var(--color-purple),var(--color-pink) 50%,var(--color-orange));
  --radial-gradient: radial-gradient(
    20% 20% at 35.49% -18.37%,
    rgba(2, 1, 2, 0.58) 0,
    hsla(0, 0%, 100%, 0) 100%),
    radial-gradient(96.17% 96.17% at 100% 0,
    rgba(253, 157, 82, 0.35) 0, hsla(0, 0%, 100%, 0) 50%),
    radial-gradient(41.96% 35.68% at 0 0,rgba(221, 69, 211, 0.44) 0,
    hsla(0, 0%, 100%, 0) 100%
  );

  /* page variables */
  --color-page-background: var(--radial-gradient);
  --color-text: var(--color-black);
  --color-heading: var(--color-pink);
  --color-highlight: var(--color-yellow);
  --color-primary: var(--color-pink);
  --color-secondary: var(--color-purple);
  --color-tertiary: var(--color-purple);

  /* sizing */
  --block-max-width: 920px;
  --text-max-width: 720px;
  --small-text-max-width: 600px;
  --default-margin: 10px;

  /* clamp FTW */
  --text-clamp: clamp(12px, 2vw, 16px);
  --margin-clamp-1x: clamp(10px, 5vw, 30px);
  --margin-clamp-2x: clamp(20px, 5vw, 60px);
  --margin-clamp-3x: clamp(40px, 5vw, 90px);
  --margin-clamp-4x: clamp(60px, 5vw, 120px);
}

::-moz-selection {
  background: var(--color-secondary);
  -moz-text-fill-color: white;
  color: var(--color-white);
}

::selection {
  background: var(--color-secondary);
  -webkit-text-fill-color: white;
  color: var(--color-white);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-color: var(--color-secondary);
  outline-offset: 3px;
}

html {
  font-size: var(--text-clamp);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  height: auto;
  font-family: var(--font-family-body);
  font-size: var(--font-family-size);
  letter-spacing: -0.0025rem;
  color: var(--color-text);
  background: var(--color-page-background);
}

html, body {
  height: fit-content;
  background-size: 100% 550px;
  background-repeat: no-repeat;
}

body *
:not(main)
:not(div)
:not(header)
:not(section)
:not(footer)
:not(figure)
:not(iframe)
:not(img)
:not(video) {
  max-width: var(--text-max-width);
}

[tabindex="-1"] {
  outline: 0;
}

main {
  padding: 1rem var(--default-margin) var(--margin-clamp-1x);
  background-image: --var(color-gradient);
}

main > section {
  margin-top: var(--margin-clamp-4x);
}

section:not(:last-of-type) {
  margin-bottom: var(--margin-clamp-4x);
}

h1, h2, h3,
h4, h5, h6,
p, ul, ol {
  margin: auto;
}

p, ul, ol, li, pre {
  max-width: var(--text-max-width);
  text-align: left;
  line-height: 185%;
}

a {
  max-width: var(--text-max-width);
}
