button {
  padding: var(--default-margin) 1.1rem;
  background-color: var(--color-primary);
  color: var(--color-page-background) !important;
  text-decoration: none;
  font-size: inherit;
  line-height: inherit;
  border: none;
  cursor: pointer;
  -webkit-text-fill-color: white;
  border-radius: 4px;
}

button:active {
  bottom: -2px;
}
