code {
  margin: auto;
  color: var(--color-secondary);
  font-family: var(--font-family-body);
  font-style: normal;
  font-weight: 600;
}

code[class*=language-],
pre[class*=language-] {
  font-size: clamp(12px, 3vw, 15px);
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
}

pre {
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 3em !important;
}
