.note {
  padding: 1em;
  display: flex;
  align-items: center;
  background: var(--color-dark);
  color: var(--color-page-background);
  border-radius: var(--border-radius-size);
}

.note h3 {
  font-size: 1em;
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

.note p {
  font-size: 1em;
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

.note--share {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0.8em;
  margin: 4em 0 1em;
}

.note--share a {
  color: var(--color-twitter);
}
