code {
  font-family: var(--font-family-code);
  color: var(--color-red);
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;
}

blockquote:not([class]) {
  padding-left: 1rem;
  margin-left: -1rem;
  border-left: 2px solid var(--color-primary);
  color: var(--color-gray-70);
  font-style: italic;
}

code[class*=language-],
pre[class*=language-] {
  font-size: 0.8rem;
  font-style: normal;
}

mark {
  color: var(--color-highlight);
  background-color: transparent;
}

hr {
  margin: 2rem auto;
  border: 0;
  width: 10rem;
  height: 1px;
  background-color: var(--color-gray-opacity);
}

.portrait {
  display: block;
  max-width: 100%;
  box-shadow: var(--color-box-shadow);
  border-radius: var(--border-radius-default);
}

.note {
  padding: 1rem;
  display: flex;
  align-items: center;
  background: var(--color-gray-opacity);
  border-radius: var(--border-radius-default);
}

.note h3 {
  font-size: 1rem;
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

.note p {
  font-size: 1rem;
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

.update-note {
  display: none;
  font-size: 1rem;
  grid-template-columns: auto auto;
  grid-gap: 0.9rem;
  align-items: center;
  margin-bottom: 2rem;
}

@media (max-width: 595px) {
  .update-note {
    text-align: center;
    grid-template-columns: auto;
  }
}

.note-share {
  margin: 4rem 0 1rem;
}

.facebook {
  fill: #3B5998
}

.twitter {
  fill: #1DA1F2;
  margin-right: 0.8rem;
}

.email {
  word-break: break-word;
}

.button {
  background-color: var(--color-primary);
  border: none;
  padding: 0.6rem 0.9rem;
  font-size: inherit;
  margin: 0 0.3rem;
  color: #fff;
  font-family: inherit;
  line-height: inherit;
  border-radius: var(--border-radius-default);
}

.button:active {
  bottom: -2px;
}

.glare-button {
  position: relative;
  overflow: hidden;
}

.glare-button:hover {
  cursor: pointer;
}

.glare-button:hover .glare {
  right: -35%;
  transition: all 0.6s linear;
}

.glare:active {
  opacity: 0.95;
}

.glare {
  position: absolute;
  width: 45px;
  height: 200%;
  transform: rotate(25deg);
  background-color: rgba(255,255,255,0.3);
  top: -50%;
  right: 120%;
}

.glare:after {
  content: '';
  display: none;
  position: absolute;
  width: 20px;
  height: 100%;
  background: inherit;
  right: -15px;
  top: 0;
}

/* Clarendon. Grabbed from https://www.cssfilters.co/ */
.picture-filter {
  position: relative;
  -webkit-filter: contrast(120%) saturate(125%);
  filter: contrast(120%) saturate(125%);
}

.picture-filter::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: darken;
  background: rgba(127, 187, 227, 0.2);
}
