.footer {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer p {
  font-size: 0.8rem;
}

.footer-bio {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  margin: 0 0 2rem;
}

.footer-bio .no-breaks br {
  display: none;
}

@media (max-width: 998px) {
  .footer-bio {
    grid-template-columns: 1fr;
  }
}

.footer-bio img {
  border-radius: var(--border-radius-default);
  width: 2.7rem;
  box-shadow: var(--color-box-shadow);
  display: block;
}

@media (max-width: 998px) {
  .footer-bio img {
    display: none;
  }
}
