button,
.button {
  padding: var(--default-margin) 1.1rem;
  background-color: var(--color-primary);
  color: var(--color-page-background);
  text-decoration: none;
  font-size: inherit;
  line-height: inherit;
  border: none;
  cursor: pointer;
}

button:active,
.button:active {
  bottom: -2px;
}

.button--skip-link {
  position: absolute;
  z-index: 11;
  text-decoration: none;
  top: 0.5rem;
  right: 0.5rem;
  transform: translateY(calc(-100% - 0.5rem));
}

.button--skip-link:focus {
  transform: none;
}
