header {
  margin-top: 0.9rem;
  margin-bottom: var(--margin-clamp-2x);
}

header * {
  text-align: center;
}

header h1 {
  margin-top: var(--margin-clamp-2x);
  font-size: clamp(22px,11.4vw,56px);
  line-height: 1.4;
  text-align: center;
  max-width: var(--block-max-width);
  color: var(--color-primary);
  filter: drop-shadow(-1px 1px var(--color-highlight)) drop-shadow(-2px 2px var(--color-highlight)) drop-shadow(-3px 3px var(--color-highlight)) drop-shadow(-4px 4px var(--color-highlight)) drop-shadow(-5px 5px var(--color-highlight)) drop-shadow(-6px 6px var(--color-highlight));
}

header figure {
  margin-top: var(--margin-clamp-2x);
}

header img {
  max-width: var(--small-text-max-width);
}

header p {
  margin-top: var(--margin-clamp-1x);
  padding: 0 var(--margin-clamp-1x);
  text-align: center;
  font-family: var(--font-family-code);
  text-transform: uppercase;
  font-size: 1rem;
}

@media (max-width: 580px) {
  header i {
    display: none;
  }
}

@media (max-width: 580px) {
  header p {
    text-align: left;
  }

  header p br {
    display: none;
  }
}
