ul, ol {
  margin: auto;
  padding-left: 1.75rem;
}

ul {
  font-family: var(--font-family-text);
  list-style-type: square;
}

li:not(:last-of-type) {
  margin-bottom: 1.1rem;
}

.big-links {
  margin: var(--margin-clamp-2x) auto 0;
  padding: 0;
  text-align: center;
  max-width: var(--text-max-width);
}

.big-links li {
  margin-bottom: 2.1rem !important;
}

@media (max-width: 580px) {
  .big-links li {
    list-style-type: none;
  }
}

.big-links li a, .big-links li span {
  font-size: var(--margin-clamp-1x);
  display: block;
  line-height: 150%;
}

.big-links li a {
  display: inline;
  margin-right: 1ch;
}

.big-links li span {
  display: block;
  font-size: 18px;
}
