img, svg {
  vertical-align: middle;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  border-radius: var(--border-radius-size);
}

.fluid-text {
  line-height: 0.8;
  font-family: var(--font-family-heading);
  text-align: center;
}

.fluid-text + .fluid-text {
  margin-bottom: var(--margin-clamp-2x) !important;
}

iframe {
  display: block;
}

figcaption {
  padding-top: 1rem;
  text-align: center;
  line-height: 150%;
  font-size: clamp(12px,2vw,14px);
}
