.skip-link {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem 1rem;
  background-color: var(--color-primary);
  color: #fff;
  text-decoration: none;
  transform: translateY(-100%);
}

.skip-link:focus {
  transform: none;
}

.navigator {
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.navigator ul {
  list-style: none;
  display: flex;
  font-size: 1rem;
}

.navigator ul li:not(:last-of-type) {
  margin-right: 1rem;
}
