.navigation {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0.9rem;
  min-height: 4rem;
  z-index: 10;
}

.navigation a {
  display: inline-block;
  padding: 0.2rem;
}

.navigation .back {
  background-color: var(--color-secondary);
  border-radius: 50%;
  animation-delay: 0.6s;
}

.navigation .back svg {
  width: 1.8rem;
  height: 1.8rem;
}

@media (max-width:960px) {
  .navigation {
    position: fixed;
    border-radius: 4px;
    background: var(--color-yellow);
    color: var(--color-purple);
    box-shadow: var(--box-shadow-color);
    margin: 1rem;
  }
}
