.presentation > h1 {
  font-size: 5.8rem;
}

@media (max-width:960px) {
  .presentation > h1 {
    font-size: 4rem;
    margin: var(--margin-clamp-3x) auto;
  }
}

@media (max-width:580px) {
  .presentation > h1 {
    font-size: 2.75rem;
  }
}

.not-found {
  max-width: 600px;
  margin: auto;
}
