/** Page defaults
********************/

.container {
  max-width: 963px;
  margin-right: auto;
  margin-left: auto;
}

.navigation {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0.9rem;
  min-height: 4rem;
  z-index: 10;
  /* TODO */
  background: linear-gradient(to bottom, rgba(0,0,0,0.05), transparent);
}

.navigation a {
  display: inline-block;
  padding: 0.2rem;
}

.navigation .back {
  transition: background-color 250ms linear;
  border-radius: 50%;
}

@media (max-width:960px) {
  .navigation {
    position: fixed;
    border-radius: 50%;
    background: none;
    box-shadow: var(--box-shadow-color);
    bottom: 0;
    top: auto;
  }

  .navigation .back {
    background: var(--color-white);
    box-shadow: var(--box-shadow-color);
  }

  .navigation ~ .presentation {
    padding-top: 3.6rem;
  }
}

.navigation .back svg {
  width: 1.8rem;
  height: 1.8rem;
}

.navigation .back:hover {
  background-color: var(--color-black-4);
}

.navigation .now-reading {
  display: none;
  /* TODO */
  filter: blur(5px) opacity(0.5);
  color: #6D6E70;
}

/** Front page presentation
********************/

.presentation {
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: 0.2s;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  margin: 0 var(--default-margin) var(--margin-clamp-4x);
}

.presentation img {
  width: var(--avatar-size);
  border-radius: 50%;
  margin: 0 auto var(--margin-clamp-1x);
}

/** Page-specific
********************/

.big-links {
  list-style: none;
  margin: var(--margin-clamp-2x) auto 0;
  padding: 0;
  text-align: center;
  max-width: 690px;
}

.big-links li {
  display: block;
  margin-bottom: 2.1rem !important;
}

.big-links li a, .big-links li span {
  font-size: var(--margin-clamp-1x);
  line-height: 150%;
  display: block;
}

.big-links li a {
  display: inline-block;
}

.big-links li p {
  text-align: center;
}

/** Footer
********************/
.footer {
  margin: var(--margin-clamp-3x) 0;
}

.footer p {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  line-height: 150%;
  font-size: 0.9rem;
}

/* structure that goes inside the post but not textual
********************/

.content-meta {
  margin-top: 0.9rem;
  margin-bottom: var(--margin-clamp-2x);
}

.content > *:not(:last-child) {
  margin-bottom: var(--margin-clamp-1x);
}

.content > video,
.content > figure,
.content > video,
.content > iframe,
.content > .twitter-tweet {
  margin-top: var(--margin-clamp-2x) !important;
  margin-bottom: var(--margin-clamp-2x) !important;
  border: 0;
}

.content h1, .content h2, .content h3,
.content h4, .content h5, .content h6 {
  margin-top: var(--margin-clamp-2x);
  margin-bottom: var(--default-margin);
}

.tooltip {
  opacity: 0;
  background: var(--color-text);
  color: var(--color-page-background);
  padding: 0 var(--margin-clamp-1x);
  font-weight: bold;
  border-radius: var(--border-radius-size);
  position: absolute;
  margin-left: 0.9rem;
  top: -0.6rem;
}

#copyLink {
  position: relative;
}

.clipboard.fadeInOut {
  animation: fadeInOut 1s;
  animation-fill-mode: forwards;
}
