.content > *:not(:last-child) {
  margin-bottom: var(--margin-clamp-1x);
}

.content > video,
.content > figure,
.content > video,
.content > iframe,
.content > .twitter-tweet {
  margin-top: var(--margin-clamp-2x) !important;
  margin-bottom: var(--margin-clamp-2x) !important;
  border: 0;
}

.content h1, .content h2, .content h3,
.content h4, .content h5, .content h6 {
  margin-top: var(--margin-clamp-2x);
  margin-bottom: var(--default-margin);
}

.email {
  word-break: break-all;
}
