:root {
  --color-twitter: #55acee;
  --color-github: #24292e;
  --color-linkedin: #0077b5;
  --color-facebook: #4267B2;
}

/* highlight social media links */
a[href^="https://github.com"]:hover {
  text-decoration-color: var(--color-github);
}

a[href^="https://twitter.com"]:hover {
  text-decoration-color: var(--color-twitter);
}

a[href^="https://linkedin.com"]:hover {
  text-decoration-color: var(--color-linkedin);
}

a[href^="https://facebook.com"]:hover {
  text-decoration-color: var(--color-facebook);
}

svg.facebook {
  fill: var(--color-facebook);
}

.twitter-tweet {
  box-shadow: var(--box-shadow-props);
  border-radius: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem !important;
  margin-bottom: 2rem !important;
}

@media (max-width: 500px) {
  .twitter-tweet {
    display: none !important;
  }
}

.twitter-tweet * {
  border: 0;
}

svg.twitter {
  fill: var(--color-twitter);
}

svg.github {
  fill: var(--color-github);
}

.email {
  word-break: break-word;
}
