section + section {
  padding-top: 2rem;
}

.container {
  max-width: 41.2rem;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 100%;
  min-height: calc(100vh - 7rem);
}
