:root {
  --light-text: #333;
  --light-bg: #ddd;
  --switch-btn-off-bg: white;
  --switch-off-bg: grey;
  --switch-off-hover: rgba(200,200,200,0.6);
  --switch-off-pos: 0px;
  --text: #333;
  --bg: #ddd;
  --dark-bg: #333;
  --dark-text: #ddd;
  --switch-btn-bg: white;
  --switch-bg: grey;
  --switch-hover: rgba(200,200,200,0.6);
  --switch-on-hover: rgba(242, 183, 5, 0.3);
  --switch-on-bg: rgb(242, 183, 5);
  --switch-btn-on-bg: rgb(184, 139, 5);
  --switch-pos: 0px;
  --switch-on-pos: 25px;
}

.toggle {
  position: absolute;
  display: flex;
  align-items: center;
  line-height: 1;
  top: 0;
  right: 10px;
  width: 130px;
  height: 40px;
}

#toggle {
  opacity: 0;
  position: absolute;
}

.switch {
  display: flex;
  flex-direction: row;
  color: var(--text);
  cursor: pointer
}

.switch:before {
  display: inline-block;
  margin: .1em 5em;
  width: 20px;
  height: 25px;
  position: absolute;
  content: "🌞";
  border-radius: 50%;
  background: var(--switch-btn-bg);
  z-index: 2;
  transition: .2s ease-out;
  transform: translatex(var(--switch-pos));
  line-height: 1.6;
  padding-left: 5px;
}

.switch:after {
  display: inline-block;
  margin: .25em 5em;
  width: 40px;
  height: 19px;
  position: absolute;
  content: "";
  border-radius: 10px;
  background: var(--switch-bg);
  transition: .3s ease-in-out;
}

.switch:hover:before,
#toggle:focus ~ .switch:before{
  box-shadow: 0px 0px 1px 6px var(--switch-hover);
}

#toggle:checked ~ *{
  --text: var(--dark-text);
  --bg: var(--dark-bg);
  --switch-btn-bg: var(--switch-btn-on-bg);
  --switch-bg: var(--switch-on-bg);
  --switch-hover: var(--switch-on-hover);
  --switch-pos: var(--switch-on-pos);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: var(--dark-text);
    --bg: var(--dark-bg);
    --switch-btn-bg: var(--switch-btn-on-bg);
    --switch-bg: var(--switch-on-bg);
    --switch-hover: var(--switch-on-hover);
    --switch-pos: var(--switch-on-pos);
  }

  #toggle:checked ~ *{
    --text: var(--light-text);
    --bg: var(--light-bg);
    --switch-btn-bg: var(--switch-btn-off-bg);
    --switch-bg: var(--switch-off-bg);
    --switch-hover: var(--switch-off-hover);
    --switch-pos: var(--switch-off-pos);
  }
}
