{% extends 'layouts/default.njk' %}

{% block pageTop %}
  <header class="header--page">
    <h1>{{ title }}</h1>
    {% if description %}
      <p>{{ description | markdownify_inline | safe }}</p>
    {% endif %}
  </header>
{% endblock %}

{% block main %}{% endblock %}
