{% extends 'layouts/default.njk' %}

{% block main %}
  <main id="main-content" class="p-4 pb-10" tabindex="-1">
    <article class="flex justify-center">
      <div class="py-6 prose lg:prose-lg">
        <header>
          <h1 id="title">{{ title }}</h1>
          {% if description %}
            <p>{{ description | markdownify_inline | safe }}</p>
          {% endif %}
          {% if image -%}
            <figure class="flex flex-col justify-center">
              {% if image -%}<img src="{{ image }}" alt="{{ alt }}"/>{%- endif %}
              {% if caption -%}
                <figcaption>{{caption}}</figcaption>
              {%- endif %}
            </figure>
          {%- endif %}
        </header>
        <div class="divider"></div>
        <div>{{ content | markdownify | safe }}</div>
      </div>
    </article>
  </main>
{% endblock %}