{% extends 'layouts/default.njk' %}

{% block main %}
  <article class="content">
    <header class="header">
    {% if image -%}
    <figure>
      <img
        src="{{ image }}"
        alt="{{ alt }}"
      />
      {% if caption -%}
        <figcaption>{{caption}}</figcaption>
      {%- endif %}
    </figure>
    {%- endif %}
      <time class="date">{{ date | date_formatted }}</time>
      <h1 class="header-title">
        {% if link -%}
          <a rel="external" href="{{ link | safe }}">{{ title }}</a>
        {%- else -%}
          {{ title }}
        {%- endif %}
      </h1>
      {% if description -%}
        <p class="description">{{ description }}</p>
      {%- endif -%}
      <hr>
    </header>
    {{ content | safe }}
    {% if link -%}
      <hr>
      <a rel="external" href="{{ link | safe }}">View Link</a>
    {%- endif %}
    {% include "components/bio.njk" %}
    {% include "components/share.njk" %}
  </article>
{% endblock %}
