---
title: About
permalink: /about/index.html
---
{% extends 'layouts/page.njk' %}

{% set content %}

Hello there. I'm Cezar, an [open-source developer](https://github.com/cezaraugusto), [book author](https://github.com/cezaraugusto/web-extensions-for-the-builders), and [content creator](https://www.youtube.com/channel/UCjwnVRxoPilVaicoxktqVjg) (_in progress_) . I'm a software engineer working with JavaScript at [Brave](https://brave.com) on the desktop browser.

{% Figure { src: '/assets/images/about.png', caption: 'A failed video recording turned into an about page picture. Talk about optimism.' } %}

I like to learn and work on tools to improve human development, being them writings, software, or thoughts. When I'm not coding, I enjoy running, swimming, and playing Mario Kart.

## Where it all started

I started getting interested in programming back in 2001 after seeing a friend playing with Visual Basic inside MSExcel. A few moons later, I discovered web development and started making blog templates. A decade went by before I could start making any money out of it.

Nowadays, I don't make blog templates anymore, but the passion for web development got me involved in browsers and drives most of the content I create. Before working as a professional developer, I was an [Inteligence Analyst](https://en.wikipedia.org/wiki/Intelligence_analysis) and as a Brazilian Army [Paratrooper](https://en.wikipedia.org/wiki/Paratrooper). Isn't life amazing?

## This blog

My most delicate, most detailed, most beloved, most edited, most erased, most _gave up_ piece of code I ever wrote, is dedicated to my un-edited thoughts and is where my best ideas start to be defined.

## Location

I'm based in the southeast of 🇧🇷 Brazil, born and raised in Rio de Janeiro.

## Speaking

If you want me to present or speak at your event send me a message via <code class="email">window.atob('Ym9zc0BjZXphcmF1Z3VzdG8ubmV0')</code>. You can also reach me over [Twitter](https://twitter.com/cezaraugusto) though I'm not as responsive as the email option.

> At the moment, I'm not available for speaking gigs outside (the beautiful) Brazil. But thank you for considering me at your event.

{% endset %}

{% block main %}
  <div class="content">
    {{ content | markdownify | safe }}
  </div>
{% endblock %}
