---
heading: true
permalink: /index.html
---
{% extends 'layouts/default.njk' %}

{% block pageTop %}
  <header class="presentation">
    {% Figure {
      src: '/assets/images/avatar.png',
      alt: 'Picture of Cezar Augusto'
    } %}
    <div>
      <h1>
        {{ site.topHeadline | markdownify_inline | safe }}<br>
        {{ site.bottomHeadline | markdownify_inline | safe }}
      </h1>
      <p>
        {{ site.intro | markdownify_inline | safe }}<br>
        {{ site.social | markdownify_inline | safe }}
      </p>
    </div>
  </header>
{% endblock %}

{% block main %}
  <section>
    <div class="content">
      <h2>Blog</h2>
      <ul>
        {% for entry in collections.latestPosts %}
        <li>
          <a href="{{ entry.url | permalink }}">{{ entry.data.title }}</a>
          on
          <time>{{ entry.date | date_formatted }}</date>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  <section>
    <div class="content">
      <h2>Current Projects 🐎</h2>
      <ul>
      {% for project in projects.featured %}
        <li>
          {% if project.link %}
            <a href="{{ project.link }}" target="_blank">{{ project.title }}</a>
          {% else %}
            {{ project.title }}
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    </div>
  </section>
{% endblock %}
