---
heading: true
permalink: /index.html
---

{% extends 'layouts/default.njk' %} {% block main %}
<main id="main-content" tabindex="-1">
  <section>
    {% for entry in collections.latestPosts %}
    <article class="post-link">
      <a href="{{ entry.url | permalink }}">
        <h3>{{ entry.data.title }}</h3>
      </a>
      <p class="text-sm text-base-content/70">
        on <time>{{ entry.date | date_formatted }}</time>
      </p>
    </article>
    {% endfor %}
  </section>
  <hr class="cs-hr" />
  <section>
    <h2>Open-Source Projects</h2>
    <ol id="projects">
      <li>
        <a href="https://github.com/extension-js/extension.js">
          Extension.js
        </a>
        <span> - Make it very easy to create cross-browser extensions.</span>
      </li>
    </ol>
  </section>
</main>
{% endblock %} {% block footer %}{% endblock %}
