---
heading: true
permalink: /index.html
---
{% extends 'layouts/default.njk' %}

{% block pageTop %}
  <header class="presentation">
    <img src='/assets/images/avatar.png' alt='Picture of Cezar Augusto'>
    <h1>
      {{ site.topHeadline | markdownify_inline | safe }}<br>
      {{ site.bottomHeadline | markdownify_inline | safe }}
    </h1>
    <p>
      {{ site.intro | markdownify_inline | safe }}<br>
      {{ site.social | markdownify_inline | safe }}
    </p>
    <div class="glare"></div>
  </header>
{% endblock %}

{% block main %}
  <iframe
    src="https://cezaraugusto.substack.com/embed"
    width="480"
    height="320"
    style="border:1px solid #EEE; background:white;"
    frameborder="0"
    scrolling="no">
  </iframe>
  <main id="main-content" tabindex="-1">
    <h2>Blog</h2>
    <ul class="big-links">
      {% for entry in collections.latestPosts %}
      <li>
        <a href="{{ entry.url | permalink }}">{{ entry.data.title }}</a>
        <p>on <time>{{ entry.date | date_formatted }}</time></p>
      </li>
      {% endfor %}
    </ul>
  </main>
{% endblock %}

{% block footer %}
<footer class="footer">
  <p class="footer__phrase">
    © 2018-Present <a href="/about/">Cezar Augusto</a>.<br>
    Content in this blog is licensed under 
    <a href="https://creativecommons.org/licenses/by/4.0/" rel="noopener noreferrer" target="_blank">CC BY 4.0</a>.
  </p>
  <p class="footer__phrase">This blog has an <a href="/feed.xml">RSS</a> which is cool.</p>
</footer>
{% endblock %}
