---
title: What now
image: /assets/images/now.jpeg
caption: A closed restaurant in an island I went. Ilha da Tartaruga, Buzios - RJ
permalink: /now-now-now/index.html
---
{% extends 'layouts/page.njk' %}

{% set content %}

## Engineering extension-create

My main code project is [extension-create](https://github.com/cezaraugusto/extension-create). I want a CLI tool to help me build cross-browser extensions with no build configuration. I want to use TypeScript, webpack, React, without thing about config. And I also want a tool to ship to all major browsers without overthinking too.

{% Figure {
  src: '/assets/images/extension-create.gif',
  alt: 'extension-create CLI example'
} %}

If you think you or your company can benefit from the project, consider [sponsoring me on GitHub](https://github.com/sponsors/cezaraugusto/).

## Writing The Browser Extension book

Browser extensions are great but unknown for most people. They are not taught in code camps, schools, universities, anywhere. [The Browser Extension Book](https://github.com/cezaraugusto/browser-extensions-book) plans to fix that knowledge gap. The goal is to be a complete but exciting guide for all looking to create extensions.

Best part? It's free!

  <iframe
    src="https://cezaraugusto.substack.com/embed"
    width="480"
    height="320"
    style="border:1px solid #EEE; background:white;"
    frameborder="0"
    scrolling="no">
  </iframe>

The book is far from finished, but you can follow up with my progress weekly using the form above. I report weekly by email what is happening with me and my near-future plans.

## Sharing knowledge and information on Quora

I'm a Quora (PT) Top Writer writing mostly about computer programming, software engineering, web development, and JavaScript. I also maintain two Spaces dedicated to sharing posts on programming and politics. [Click here if you read Portuguese or want to see my profile there anyway](https://pt.quora.com/profile/Cezar-Augusto).

## Video

I love recording videos and talking about programming, leading me to have a YouTube channel (in Portuguese) dedicated to programming and sharing my experience as a professional software engineer.

Here's the _thank you_ video I made for my Quora space on programming. Currently with 7k+ of very cool, engaging people.

<iframe class="youtube" src="https://www.youtube.com/embed/y2zr6AHf9B8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

## Open source

Due to extension-create I often need to create third-party modules to prevent myself from drowning in feature-hell. See my [npm profile](https://www.npmjs.com/~cezaraugusto) for stuff I'm doing or follow me on [Twitter](https://twitter.com/cezaraugusto) which is where I do my shameless propaganda first ;)

{% endset %}
