---
title: Articles
description: Here is a list of all posts in this blog. Looking for different thoughts? Let's be friends on [LinkedIn](https://linkedin.com/in/cezar-augusto) or follow me on [Twitter](https://twitter.com/cezaraugusto).
pagination:
  data: collections.posts
  size: 10
permalink: /posts/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber }}/{% endif %}index.html
---
{% extends 'layouts/page.njk' %}

{% block main %}
  <div class="content">
    <ul>
      {% for entry in pagination.items %}
      <li>
        {% include "components/entry.njk" %}
      </li>
      {% endfor %}
    </ul>
  </div>

  {% include "components/pagination.njk" %}
{% endblock %}
