---
title: Projects
permalink: /projects/index.html
---
{% extends 'layouts/page.njk' %}

{% set content %}

## Engineering Extension.js

<div style="position: relative; padding-bottom: 62.5%; height: 0;"><iframe src="https://www.loom.com/embed/34fc48f3f7954bfa990e767c6a7172f0?sid=02b8febc-16f2-4b57-8fcf-248bbec692f4" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>

My main code project is [Extension.js](https://github.com/cezaraugusto/Extension.js.git), a JavaScript library that allows you to create browser extensions with a single codebase. It's a project I've been activelly working on since Jan, 2024 and it's the foundation of most of my work.

If you think you or your company can benefit from the project, consider [sponsoring me on GitHub](https://github.com/sponsors/cezaraugusto/).

## Open-source

<iframe
  src="https://cezaraugusto.substack.com/embed"
  height="320"
  style="border-radius: 4px; width: 100%;"
  frameborder="0"
  scrolling="no"
></iframe>

Due to Extension.js I often need to create third-party modules to prevent myself from drowning in feature-hell. See my [npm profile](https://www.npmjs.com/~cezaraugusto) for stuff I'm doing or follow me on [Twitter](https://twitter.com/cezaraugusto) which is where I do my shameless propaganda first ;) Here's a list of some of the projects I've been working on, ranked by popularity:

<ol id="projects">
  <p>Loading...</p>
</ol>

{% endset %}