---
title: Projects
image: /static/images/extension-create.gif
caption: "Project: extension-create - A CLI tool to help building cross-browser extensions with no build configuration."
permalink: /projects/index.html
---
{% extends 'layouts/page.njk' %}

{% set content %}

## Engineering extension-create

My main code project is [extension-create](https://github.com/cezaraugusto/extension-create). I want a CLI tool to help me build cross-browser extensions with no build configuration. I want to use TypeScript, webpack, React, without thing about config. And I also want a tool to ship to all major browsers without overthinking too.

If you think you or your company can benefit from the project, consider [sponsoring me on GitHub](https://github.com/sponsors/cezaraugusto/).

## Open-source

<iframe
  src="https://cezaraugusto.substack.com/embed"
  height="320"
  style="border-radius: 4px; width: 100%;"
  frameborder="0"
  scrolling="no"
></iframe>

Due to extension-create I often need to create third-party modules to prevent myself from drowning in feature-hell. See my [npm profile](https://www.npmjs.com/~cezaraugusto) for stuff I'm doing or follow me on [Twitter](https://twitter.com/cezaraugusto) which is where I do my shameless propaganda first ;)

<ol id="projects">
  <p>Loading...</p>
</ol>

{% endset %}