---
pagination:
  data: collections
  size: 1
  alias: tag
title: Tagged Articles
permalink: /posts/tagged/{{ tag }}/index.html
---
{% extends 'layouts/default.njk' %}

{% block pageTop %}
  <header class="header">
    <h1 class="header-title-page">Articles tagged “{{ tag }}”</h1>
  </header>
{% endblock %}

{% block main %}
<div class="post">
  <ul>
    {% set taglist = collections[ tag ] %}
    {% for entry in taglist | reverse %}
    <li>
      {% include "components/entry.njk" %}
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
